button{
    margin:13px;   
}

.moveUp{
    transform: translateY(-80px);
}

h1{
    margin-top: 5px;
    text-transform: capitalize;
    font-family: Arial;
    font-size: 1.25em;
    text-transform: capitalize;
    letter-spacing: 3px;
    
}

.modal-content{
    background: rgb(224, 220, 209);text-transform: capitalize;
}
a{
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s linear;
    font-family: Arial;
    text-transform: capitalize;
}


