
<body>
    
    <div class="container text-center">
        <h1>Users</h1>
        
        <hr>
        <div class="container">
            <button class="add" data-toggle="modal" data-target="#add">Add {{type | titlecase}}</button>
            <button class="delete" data-toggle="modal" data-target="#delete">Delete {{type | titlecase}}</button>
            <button class="update" data-toggle="modal" data-target="#update" >Update {{type | titlecase}}</button>
        </div>
        <hr>
        <div class="container">
        
            <!-- add Modal -->
            <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog text-center" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">{{type | titlecase}} Operations</h2>
                            <a data-dismiss="modal"  (click)="reload()"><span aria-hidden="true">&times;</span></a>
                            <hr>
                        </div>
                        <div class="modal-body">

                            <!-- user form started -->
                            <form #formName="ngForm">
                                <div *ngIf="msg" class="alert alert-success">Users added successfully</div>
                                <div class="form-group col-md-8 offset-md-2">
                                    <label>User Id</label>
                                
                                <input [(ngModel)]="user.id" readonly required name="id"  class="form-control"  #id=ngModel ngModel  placeholder="enter the id" >
                                
                                <div><small *ngIf="id.touched">ReadOnly Fields can't be edited</small></div>

                                </div>
                                <div class="form-group col-md-8 offset-md-2">
                                    <label>name</label>
                                    
                                    <input [(ngModel)]="user.name" required name="name" class="form-control"  #name=ngModel ngModel  placeholder="Enter Name">
                                    <div><small *ngIf="name.touched && name.invalid">name can't be empty</small></div>
                                </div>
                                <div class="form-group col-md-8 offset-md-2">
                                <label>bank</label>
                                <input [(ngModel)]="user.bank" name="bank" readonly required ngModel #bank="ngModel" type="text" class="form-control" placeholder="{{bankName}}">
                                <div><small *ngIf="bank.touched">ReadOnly Fields can't be edited</small></div>
                                </div>
                                <div class="form-group col-md-8 offset-md-2">
                                    <label>accNo</label>
                                    <input [(ngModel)]="user.accNo" name="accNo" readonly required ngModel #accNo="ngModel" type="number"  class="form-control" placeholder="{{accNos}}">
                                    <div><small *ngIf="accNo.touched">ReadOnly Fields can't be edited</small></div>
    
                                </div>
                                <div class="form-group col-md-8 offset-md-2">
                                    <label>balance</label>
                                    <div class="d-flex">
                                        <input [(ngModel)]="user.balance" name="balance" (input)="typeOfUserAdded($event)" required ngModel #balance="ngModel" type="number"  class="form-control" >
                                        <i [ngStyle]="{'color':this.color}" class="{{variable}} fa-lg">{{userType}}</i>
                                    </div>
                                    <div><small *ngIf="balance.touched && balance.invalid">Balance can't be empty</small></div>
    
                                </div>
                                
                                <div class="col">
                                    <button class="btn btn-outline-dark" (click)="onAdd()">Add</button>
                                    <button type="reset"  class="btn btn-outline-secondary m-2">Reset</button>
                                </div>
                                
                            </form>

                            <!-- user form ended -->
                        </div>
                    
                    </div>
                </div>
            </div>

             <!--  update Modal -->
        <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
            <div class="modal-dialog text-center" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">{{type}} Operations</h2>
                        <a data-dismiss="modal"  (click)="reload()"><span aria-hidden="true">&times;</span></a>
                        <hr>
                    </div>
                    <div class="modal-body">

                        
                        <!-- users form started -->
                        <form #formName="ngForm">
                            <div *ngIf="msg" class="alert alert-success">user updated successfully</div>
                            <div class="form-group col-md-8 offset-md-2">
                                <label>User Id</label>
                                <select class="form-select" [(ngModel)]="updatedId" name="id" required ngModel #id="ngModel" type="number" (change)="onChange($event)">
                                    <option selected disabled>default</option>
                                    <option *ngFor="let value of userIds" [value]="value" >{{value}}</option>
                                </select>
                                
                                
                                <div><small *ngIf="id.touched">id cant be empty!</small></div>

                                </div>
                                <div class="form-group col-md-8 offset-md-2">
                                    <label>name</label>
                                    
                                    <input [(ngModel)]="user.name" value="{{updatedUser.name}}" required name="name" class="form-control" #name=ngModel ngModel placeholder="{{updatedUser.name}}">
                                    <div><small *ngIf="name.touched && name.invalid">name can't be empty</small></div>
                                </div>
                                <div class="form-group col-md-8 offset-md-2">
                                    <label>bank</label>
                                    <input name="bank" readonly value="{{updatedUser.bank}}" required ngModel #bank="ngModel" type="text" class="form-control" placeholder="{{updatedUser.bank}}">
                                    <div><small *ngIf="bank.touched">ReadOnly Fields can't be edited</small></div>
                                </div>
                                    <div class="form-group col-md-8 offset-md-2">
                                        <label>accNo</label>
                                        <input name="accNo" readonly value="{{updatedUser.accNo}}" required ngModel #accNo="ngModel" type="number"  class="form-control" placeholder="{{updatedUser.accNo}}">
                                        <div><small *ngIf="accNo.touched">ReadOnly Fields can't be edited</small></div>
        
                                    </div>
                                    <div class="form-group col-md-8 offset-md-2">
                                        <label>balance</label>
                                        <div class="d-flex">
                                            <input name="balance" readonly  ngModel #balance="ngModel" type="number" class="form-control" placeholder="{{updatedUser.balance}}">
                                        </div>
                                        <div><small *ngIf="balance.touched && balance.invalid">Balance can't be empty</small></div>
                                    </div>
   
                            <div class="col">
                                <button type="submit" class="btn btn-outline-dark m-2 " (click)="onUpdate(updatedId)">update</button>
                                <button type="reset" class="btn btn-outline-secondary m-2 ">Reset</button>
                            </div>
                        </form>
                        
                    </div>
                
                </div>
            </div>
        </div>

            <!-- delete Modal -->
            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog text-center" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            
                            <h2 class="modal-title" id="exampleModalLabel">{{type}} Operations</h2>
                            <a data-dismiss="modal"  (click)="reload()"><span aria-hidden="true">&times;</span></a>
                           
                            <hr>
                        </div>
                        <div class="modal-body">

                            <!-- user form started -->
                            <form #deleteForm="ngForm">
                            <div *ngIf="msg" class="alert alert-success">user deleted successfully</div>
                            <div class="form-group col-md-8 offset-md-2">
                            <label>User Id</label>
                            
                            <select class="form-select" [(ngModel)]="deletedId" name="id" required ngModel #id="ngModel" type="number">
                                <option value="" disabled>enter the id to be deleted</option>
                                <option *ngFor="let value of userIds" [value]="value" selected>{{value}}</option>
                            </select>
                            
                            <div><small *ngIf="id.touched">id can't be empty</small></div>
                            

                            </div>
                            
                            <div class="col">
                                <button type="submit" class="btn btn-outline-dark  m-2 btn" (click)="onDelete()">delete</button>
                                <button type="reset" class="btn btn-outline-secondary m-2 btn">Reset</button>
                            </div>
                        </form>

                            
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
        
        <div class="table">
            <app-table-component [dataList]="list1" (idClicked)=showTheUserClicked($event)></app-table-component>
        </div>
       
        <div class="moveUp">
            <app-logout></app-logout>
        </div>
    </div>

</body>