
<div class="container p-2 text-center">
    <h1 class="text-center">accounts</h1>
    
    
    <hr>
    
        
    <div class="buttons">
        <button class="add" data-toggle="modal" data-target="#add">Add {{type | titlecase}}</button>
        <button class="delete" data-toggle="modal" data-target="#delete">Delete {{type | titlecase}}</button>
        <button class="update" data-toggle="modal" data-target="#update">Update {{type | titlecase}}</button>
    </div>
       
    
    <hr><br><br>
    <div class="container">
        
        <!-- Modal -->
        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog text-center" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">{{type | titlecase}} Operations</h2>
                        <a data-dismiss="modal" (click)="reload()"><span aria-hidden="true">&times;</span></a>
                        <hr>
                    </div>

                    <div class="modal-body">

                        
                        <!-- accounts form started -->
                        <form #accountForm="ngForm">
                            <div *ngIf="msg" class="alert alert-success">Account added successfully</div>
                           
                            <div class="form-group col-md-8 offset-md-2">
                                <label for="exampleInputEmail1">name</label>
                                <input autocomplete="autocomplete_off_hack_xfr4!k" required [(ngModel)]="account.name" name="name" class="form-control" #name=ngModel ngModel  aria-aboutribedby="emailHelp" placeholder="Enter Name">
                                <div><small *ngIf="name.touched && name.invalid">name can't be empty</small></div>
                            </div>

                            <div class="form-group col-md-8 offset-md-2">
                                <label>Account Id</label>
                                <input readonly required [(ngModel)]="account.id" name="id" class="form-control"#id=ngModel ngModel  aria-aboutribedby="emailHelp" placeholder="{{account.id}}">
                                <div><small *ngIf="id.touched">ReadOnly Fields can't be edited</small></div>
                            </div>

                            <div class="form-group col-md-8 offset-md-2">
                                <label for="exampleInputPassword1">country</label>
                                
                                <select class="form-select" name="country" [(ngModel)]="account.country" required ngModel #country="ngModel" type="text" >
                                    <option value="" disabled>select the Country</option>
                                    <option *ngFor="let value of helpme.values" [value]="value" class="text-capitalize">{{value}}</option>
                                </select>
                            </div>

                            <div class="form-group col-md-8 offset-md-2">
                                <label for="exampleInputPassword1">about</label>
                                <input autocomplete="autocomplete_off_hack_xfr4!k" name="about" required [(ngModel)]="account.about" ngModel #about="ngModel" type="text" class="form-control" placeholder="enter about">
                                <div><small *ngIf="about.touched && about.invalid">about can't be empty</small></div>
                            </div>
  
                            
                            <div class="col">
                                <button class="btn btn-outline-dark" (click)="onAdd()">Add</button>&nbsp;
                                <button class="btn btn-outline-secondary">Reset</button>
                            </div>
                        </form>
                       
                        <!-- accounts form ended -->
                    </div>
                
                </div>
            </div>
        </div>



    <div class="container">
        
        <!-- Modal -->
        <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
            <div class="modal-dialog text-center" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">{{type | titlecase}} Operations</h2>
                        <a data-dismiss="modal" (click)="reload()"><span aria-hidden="true">&times;</span></a>
                        <hr>                        
                    </div>
                    <div class="modal-body">

                        
                        <!-- accounts form started -->
                        <form #updateForm="ngForm">
                            <div *ngIf="msg" class="alert alert-success">Account updated successfully</div>
                            
                            <div class="form-group col-md-8 offset-md-2">
                                <label>Account Id</label>
                                
                                <select class="form-select" (change)="onChange($event)" [(ngModel)]="account.id" name="id" required ngModel #id="ngModel" type="number">
                                    <option value="" disabled selected>enter the id to be updated</option>
                                    <option *ngFor="let value of accountIds" [value]="value" selected>{{value}}</option>
                                </select>
                                
                                <!-- <input required [(ngModel)]="account.id" name="id" class="form-control" id="exampleInputEmail1" #id=ngModel ngModel  aria-aboutribedby="emailHelp" placeholder="enter the id to be updated"> -->
                                <div><small *ngIf="id.touched">can't be empty</small></div>
                            </div>
                            <div class="form-group col-md-8 offset-md-2">
                                <label for="exampleInputEmail1">name</label>
                                <input required [(ngModel)]="updatedAccount.name" value="{{updatedAccount.name}}" name="name" class="form-control" id="exampleInputEmail1" #name=ngModel ngModel  aria-aboutribedby="emailHelp">
                                <div><small *ngIf="name.touched && name.invalid">name can't be empty</small></div>
                                
                            </div>
                            <div class="form-group col-md-8 offset-md-2">
                            <label for="exampleInputPassword1">country</label>
                            
                            <input class="form-control" [(ngModel)]="updatedAccount.country" value="{{updatedAccount.country}}" name="country" required ngModel #country="ngModel" type="text"/>
                                
                            
                            </div>
                            <div class="form-group col-md-8 offset-md-2">
                                <label for="exampleInputPassword1">about</label>
                                <input name="about" required ngModel [(ngModel)]="updatedAccount.about" value="{{updatedAccount.about}}" #about="ngModel" type="text"  class="form-control" id="exampleInputPassword1" placeholder="enter the about">
                                <div><small *ngIf="about.touched && about.invalid">about can't be empty</small></div>
                            </div>
                            
                            
                            <div class="col">
                                <button class="btn btn-outline-dark" (click)="onUpdate(account.id)">update</button>&nbsp;
                                <button type="reset" class="btn btn-outline-secondary">Reset</button>
                            </div>
                        </form>
                        
                    </div>
                
                </div>
            </div>
        </div>


    <!-- delete accounts -->
    <div class="container">
        
        <!-- Modal -->
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
            <div class="modal-dialog text-center" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Account Operations</h2>
                        <a data-dismiss="modal" (click)="reload()"><span aria-hidden="true">&times;</span></a>
                        <hr>
                    </div>
                    <div class="modal-body">

                        
                        <!-- accounts form started -->
                        <form #deleteForm="ngForm">
                            <div *ngIf="msg" class="alert alert-success">account deleted successfully</div>
                            
                            <div class="form-group col-md-8 offset-md-2">
                                <label>Account Id</label>
                                
                                <select class="form-select" [(ngModel)]="deletedId" name="id" required ngModel #id="ngModel" type="number">
                                    <option value="" disabled>select the id</option>
                                    <option *ngFor="let value of accountIds" [value]="value" selected>{{value}}</option>
                                </select>
                                
                                <div><small *ngIf="id.touched">can't be empty</small></div>
                            </div>
                            
                            <div class="col">
                                <button type="submit" class="btn btn-outline-dark  m-2 btn" (click)="onDelete()">delete</button>
                                <button type="reset" class="btn btn-outline-secondary m-2  btn">Reset</button>
                            </div>
                        </form>
                        
                    </div>
                
                </div>
            </div>
        </div>
        <app-table-component [dataList]="list1" (idClicked)=navigateToAccountDetails($event)></app-table-component>
       
        <app-logout></app-logout>
   
</div>

