h1{
    margin-top: 5px;
    font-family: Arial;
    font-weight: normal;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-transform: capitalize;
}

a{
    position: relative;
    top: -20px;text-transform: capitalize;
}
.container{
    position: relative;
    top: -12px;
    text-transform: capitalize;
}

.modal-content{
    background: rgb(224, 220, 209);text-transform: capitalize;
}
a{
    color: black;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom:10px;
    font-family: Arial;
    font-weight: normal;
    font-size: 1.4em;text-transform: capitalize;
}

button{
    margin:13px;
}