
.input-group{
    padding-bottom: 20px;
}
body{
    background: linear-gradient(to right,rgb(148, 123, 78),wheat);
    height: 100vh;
    transition: 0.5s linear;
}
i,a{
    color: rgb(238, 162, 20);
}
button{
    background: rgb(238, 155, 0);
    color: white;
}
.up{
    margin-top: -35px;
}

.reset{
    background: red;
    color: white;
}

#form.invalid .input-box::before {
    content: '';
    position: absolute;
    right: 12px;
    top: 9px;
    width: 24px;
    height: 24px;
    /* background: url(https://fadzrinmadu.github.io/hosted-assets/email-validation-check-using-javascript/invalid.png); */
    -webkit-background-size: cover;
    background-size: cover;
  }
  
  #form.valid .input-box::before {
    content: '';
    position: absolute;
    right: 12px;
    top: 9px;
    width: 24px;
    height: 24px;
    /* background: url(https://fadzrinmadu.github.io/hosted-assets/email-validation-check-using-javascript/valid.png); */
    -webkit-background-size: cover;
    background-size: cover;
  }