
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    
    <div class="container">
        
            <div id="loginbox" style="margin-top:68px;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
                <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h2 class="text-center">Sign In</h2>
                        </div>     
                       
                        <div style="padding-top:30px" class="panel-body">
    
                            <div style="display:block" id="login-alert" class="alert alert-danger col-sm-12 text-center" *ngIf="!formStatus">Details Doesn't exist in the database</div>
                            <div style="display:block" class="alert alert-success col-sm-12 text-center" *ngIf="isSignedUp">Login Now To Continue</div>
                                
                            <form id="loginform" class="form-horizontal" role="form" #contactForm="ngForm">
                                        
                                    <div style="margin-bottom: 25px" class="input-group">
                                            <span class="input-group-addon"><i class="fas fa-envelope-open" data-toggle="tooltip" data-placement="top" title="Email Address"></i></span>
                                            <input placeholder="Email Address" (keyup)="this.helpme.validateEmail($event)" name="email" ngModel #email="ngModel" required type="email"  class="form-control " id="email" >
                                            <span [ngStyle]="{color:this.helpme.emailcolors}" *ngIf="this.cookieService.get('shouldAllow')" class="text-center">{{this.helpme.evalue}}</span>
                                            <small *ngIf="!emailValue" class="text-center ml-5">enter correct email id</small>
                                        </div>
                                        
                                        
                                        <div style="margin-bottom: 25px" class="input-group">
                                            <span class="input-group-addon"><i class="fas fa-key" data-toggle="tooltip" data-placement="right" title="Password"></i></span>
                                            <input name="password" placeholder="Password"  ngModel #password="ngModel" type="password" required class="form-control" id="password" >
                                            
                                            <small *ngIf="!passwordValue" class="text-center">enter correct password</small>
                                    </div>
                                            
                                    <div style="margin-top:10px" class="form-group">
                                        
                                        <div class="col-sm-12 text-center">
                                            <button (click) = "validate(contactForm);" class="btn" type="button">Login</button>
                                        </div>
                                    </div>
                                        
                                    <div class="form-group">
                                        <div class="col-md-12 control">
                                            <div style=" padding-top:15px; font-size:85%" class="text-center">
                                                Don't have an account! 
                                                <a routerLink="../signup" onclick="$('#loginbox').hide(); $('#signupbox').show();">
                                                    Sign Up Here
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                            </form>     
    
    
    
                            </div>                     
                        </div>  
                    </div> 
            
    </div>
      
   
</body>
</html>