
    

<div class="container text-center">
    
    
        <h1>Projects</h1>
        
        <hr>
        <div class="buttons">
            <button class="add" data-toggle="modal" data-target="#add">Add {{type | titlecase}}</button>
            <button class="delete" data-toggle="modal" data-target="#delete">Delete {{type | titlecase}}</button>
            <button class="update" data-toggle="modal" data-target="#update">Update {{type | titlecase}}</button>
       </div><hr>
        <div class="container">
        
            <!-- Modal -->
            <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog text-center" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLabel">{{type}} Operations</h2>
                            <a data-dismiss="modal" (click)="reload()"><span aria-hidden="true">&times;</span></a>
                        </div>
                        
                        <div class="modal-body">

                            
                            <!-- projects form started -->
                            <form #projectForm="ngForm">
                                <div *ngIf="msg" class="alert alert-success">project added successfully</div>
                                <div class="form-group col-md-8 offset-md-2">
                                    <label>Project Id</label>
                                <input  readonly required name="id" class="form-control" [(ngModel)]="project.id" id="exampleInputEmail1" #id=ngModel ngModel  aria-desribedby="emailHelp" placeholder="{{result}}">
                                <div><small *ngIf="id.touched">ReadOnly Fields shouldn't be edited</small></div>

                                </div>
                                <div class="form-group col-md-8 offset-md-2">
                                    <label for="exampleInputEmail1">name</label>
                                    <input   required name="name" class="form-control" [(ngModel)]="project.name" id="exampleInputEmail1" #name=ngModel ngModel  aria-desribedby="emailHelp" placeholder="Enter Name">
                                    <div><small *ngIf="name.touched && name.invalid">name shouldn't be empty</small></div>
                                </div>
                                <div class="form-group col-md-8 offset-md-2">
                                <label for="exampleInputPassword1">owner</label>
                                <input   name="owner" required ngModel #owner="ngModel" [(ngModel)]="project.owner" type="text" class="form-control" id="exampleInputPassword1" placeholder=" enter owner name">
                                <div><small *ngIf="owner.touched && owner.invalid">owner name shouldn't be empty</small></div>
                                </div>
                                <div class="form-group col-md-8 offset-md-2">
                                    <label for="exampleInputPassword1">des</label>
                                    <input name="des" cols="20" rows="4" [(ngModel)]="project.des" required ngModel #des="ngModel" type="text"  class="form-control" id="exampleInputPassword1" placeholder="enter the des"/>
                                    <div><small *ngIf="des.touched && des.invalid">des shouldn't be empty</small></div>
                                </div>
                                <div class="form-group col-md-8 offset-md-2">
                                    <label>accountIds</label>
                                    <input  name="accountIds" [(ngModel)]="project.accountIds" required ngModel #accountIds="ngModel" type="text"  class="form-control" id="exampleInputPassword1" readonly placeholder="accountIDs">
                                    <div><small *ngIf="accountIds.touched && accountIds.invalid">des shouldn't be empty</small></div>
                                </div>
                                
                                
                                <div class="col">
                                    <button class="btn btn-outline-dark m-2  btn" (click)="onAdd()">Add</button>
                                    <button type="reset" class="btn btn-outline-secondary m-2  btn">Reset</button>
                                </div>
                            </form>
                            <!-- users form ended -->
                        </div>
                    
                    </div>
                </div>
            </div>
            <!-- update Modal -->
            <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
                <div class="modal-dialog text-center" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLabel">{{type | titlecase}} Operations</h2>
                            <a data-dismiss="modal" (click)="reload()"><span aria-hidden="true">&times;</span></a>
                            
                        </div>
                        <hr>
                        <div class="modal-body">
    
                            
                            <!-- accounts form started -->
                            <form #formName="ngForm">
                                <div *ngIf="msg" class="alert alert-success">project updated successfully</div>
                                <div class="form-group col-md-8 offset-md-2">
                                    <label>Project Id</label>
                                    

                                    <select class="form-select" (change)="onChange($event)" [(ngModel)]="project.id" name="id" required ngModel #id="ngModel" type="number">
                                        <option *ngFor="let value of resultant" [value]="value" >{{value}}</option>
                                    </select>
                
                                    
                                    <div><small *ngIf="id.touched">id cant be empty!</small></div>
    
                                    </div>
                                    <div class="form-group col-md-8 offset-md-2">
                                        <label>name</label>
                                        
                                        <input value="{{updatedProject.name}}"  [(ngModel)]="updatedProject.name" required name="name" class="form-control"  #name=ngModel ngModel  placeholder="Enter Name">
                                        <div><small *ngIf="name.touched && name.invalid">name shouldn't be empty</small></div>
                                    </div>
    
                                    <div class="form-group col-md-8 offset-md-2">
                                        <label>owner</label>
                                        <input value="{{updatedProject.owner}}"  [(ngModel)]="updatedProject.owner" name="owner" required ngModel #owner="ngModel" type="text" class="form-control" placeholder="enter the owner">
                                        <div><small *ngIf="owner.touched && owner.invalid">owner name shouldn't be empty</small></div>
                                    </div>

                                    <div class="form-group col-md-8 offset-md-2">
                                        <label>des</label>
                                        <input value="{{updatedProject.des}}"  [(ngModel)]="updatedProject.des" name="des"  required ngModel #des="ngModel" type="text"  class="form-control" placeholder="enther the des">
                                        <div><small *ngIf="des.touched && des.invalid">des shouldn't be empty</small></div>
        
                                    </div>
                                    
                                   
                                <div class="col">
                                    <button type="submit" class="btn btn-outline-dark m-2 " (click)="onUpdate(project.id)">update</button>
                                    <button type="reset" class="btn btn-outline-secondary m-2 ">Reset</button>
                                </div>
                            </form>
                            
                        </div>
                    
                    </div>
                </div>
            </div>

            <!-- delete Modal -->
            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog text-center" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h2 class="modal-title" id="exampleModalLabel">{{type}} Operations</h2>
                            <a data-dismiss="modal" (click)="reload()"><span aria-hidden="true">&times;</span></a>
                           
                        </div>
                        <hr>
                        <div class="modal-body">

                            <!-- users form started -->
                            <form #deleteForm="ngForm">
                            
                               <div *ngIf="msg" class="alert alert-success">project {{deletedId}} deleted successfully</div>
                            
                            <div class="form-group col-md-8 offset-md-2">
                                <label>Project Id</label>
                                
                                <select class="form-select" [(ngModel)]="deletedId" name="id" required ngModel #id="ngModel" type="number">
                                    <option value="" selected disabled>enter the id to be deleted</option>
                                    <option *ngFor="let value of resultant" [value]="value" >{{value}}</option>
                                </select>
                                <!-- <input   required name="id" [(ngModel)]="deletedId" class=" reset form-control" #id=ngModel ngModel  placeholder="enter the id to be deleted"> -->
                                <div><small *ngIf="id.touched">id shouldn't be empty</small></div>
                            </div>
                            
                            <div class="col">
                                <button class="btn btn-outline-dark m-2 " (click)="onDelete()">delete</button>
                                <button type="reset" class="btn btn-outline-secondary m-2  btn">Reset</button>
                            </div>
                        </form>

                            <!-- users form ended -->
                        </div>
                    
                    </div>
                </div>
            </div>
        
            
            <div class="table">
                <app-table-component [dataList]="list1" (idClicked)=navigateToProjectDetails($event)></app-table-component>
            </div> 
            
            <div class="moveUp">
                <app-logout></app-logout>
            </div>
        </div>
        

</div>
