
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
h1{
    
    margin-top: 5px;
    font-family: Arial;
    font-size: 1.25em;
   
    letter-spacing: 5px;
    border-radius: 12px;
}
.table{
    position: relative;
    top: -18px;
   
}

button{
    margin:13px;
}

.modal-content{
    background: rgb(224, 220, 209);
   
}

a{
    cursor: pointer;
    font-family: Arial;
    text-decoration: none;
    transition: 0.4s linear;
   
}
hr{
    width: 100%;
}

.moveUp{
    transform: translateY(-80px);
}




