.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    background: #c0d7e7;

}
h1{
    font-family: Arial;
    font-size: 3.5em;
    color: rgb(0, 0, 0);
}
a{
    
    margin-top: 30px;
    text-decoration: none;
    font-family: Arial;
    font-size: 2.5em;   
}