
<body>
    <div class="container m-2 text-center table-responsive">
       
        <table class="table mb-5 table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th *ngFor="let head of this.helpme.getHeaders(dataList)">{{head}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataList;index as i" (click)="onIdClicked(i)">           
                            <td *ngFor="let list of item | keys" >
                                {{item[list]}}
                                <i [ngClass]="list=='balance' ? this.helpme.getTheUserType(item.balance)[0]+' fa-lg' : ''" [ngStyle]="{color: this.helpme.getTheUserType(item.balance)[2]}" data-toggle="tooltip" data-placement="right" title="{{this.helpme.type | titlecase }}" style="cursor: default;"></i>
                            </td>
                        </tr>
                    </tbody>
        </table>
        <app-spinner></app-spinner>
    </div>
