.table{
    margin-top: 30px;
    border: 1px solid black;
    font-size: 1.15em;
    border: 1px solid black;
    text-transform: none;
}

th{
    text-transform: capitalize;
    font-weight: 300;
}
tr:hover{
    opacity: 1;
    cursor: grab;
    transition: 0s;
    color: #e3f2fd;
    background: #9e7363;   
}
tr{
    background-color: white;
    color: black;
    opacity: 0.9;
}
