a{
   display: block;
   margin: 0 auto;
   text-decoration: none;
   cursor: pointer;
   font-family: Arial;
   font-weight: normal;
   color:rgb(0, 0, 0);
}
.container{
   padding: 120px;
}
body{
   background: #c2e9e6;  
   font-family: Arial;
    font-weight: normal;
}
button{
   background:transparent;
   border: none;
   font-family: Arial;
   font-weight: normal;
   transition: 0.6s ease-in-out;
}
button:hover{
   background: linear-gradient(180deg, #b2dfdb, #26a69a);  
   cursor: grab;
}
h1{
   color: rgb(0, 0, 0);
   font-size: 2em;
   font-family: Arial;
   font-weight: normal;
}