<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    
    <div class="container ml-5 mb-5 text-center">
        <h1 class="display-1 d-block pt-2 text-center text-capitalize">hurray! details have been successfully submitted</h1><br>
        <a [routerLink]="['/']"  class="text-center text-decoration-none display-3">Home Page</a>
       <br> <button class="btn btn-lg" (click)="project()">View projects</button>
    </div>

</body>
</html>
