
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body>
        
        <div class="container">
                 
                <div id="signupbox" style="display:block; margin-top:30px" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center">Sign Up</h3>
                                </div>   
                                <div class="panel-body up" >
                                    <form id="signupform" #signupForm="ngForm" class="form-horizontal" role="form">
                                       <div class="form-group m-5 p-4">
                                            
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fas fa-envelope-open" data-toggle="tooltip" data-placement="right" title="email"></i></span>
                                                <input name="Email" [ngStyle]="{borderColor:this.helpme.emailcolors}" placeholder="email address" ngModel #Email="ngModel" type="email" (keyup)="this.helpme.validateEmail($event)" required class="form-control" id="Email" >
                                                <span [ngStyle]="{color:this.helpme.emailcolors}" class="text-center">{{this.helpme.evalue}}</span>

                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fas fa-address-card" data-toggle="tooltip" data-placement="right" title="firstName"></i></span>
                                                <input name="firstName" placeholder="first name" ngModel #firstName="ngModel" type="text" required class="form-control" id="firstName" >
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class=" fas fa-solid fa-user" data-toggle="tooltip" data-placement="right" title="lastName"></i></span>
                                                
                                                <input name="lastName" placeholder="last name" ngModel #lastName="ngModel" type="text" required class="form-control" id="lastName" >
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fas fa-key" data-toggle="tooltip" data-placement="right" title="Password"></i></span>
                                                <input name="Password" placeholder="Password" title="Combination of Lowercase,uppercase,symbols and numbers" (keyup)="this.helpme.validatePassword($event)" ngModel #Password="ngModel" type="password" required class="form-control" id="password" >
                                                <span [ngStyle]="{color:this.helpme.passwordcolors}" class="text-center">{{this.helpme.value}}</span>
                                            </div>
                                            <div class="text-center mt-4">
                                                <button id="btn-signup" (click) = "addUser(signupForm);" class="btn">Sign Up</button>
                                                <button type="reset" class="btn ml-2 reset">Reset</button>
                                                <app-spinner type="square-loader"></app-spinner>
                                            </div>
                                        </div>
    
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div style=" padding-top:0; font-size:85%" class="text-center">
                                                    Already have an account ?  
                                                    <a routerLink="" onclick="$('#loginbox').show(); $('#signupbox').hide();">
                                                        Sign in Here
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                         
                                    </form>
                                 </div>
                            
                        </div>
                 
            </div>
        </div>
          
       
    </body>
    </html>