h1{
    font-size: 2.1em;
    font-family: Arial;
    font-weight: 100;
    text-transform: capitalize;
}
h4{
    font-size: 1.2em;
    font-family: Arial;
    text-decoration: underline;
    font-weight: normal;
    text-transform: capitalize;
}

strong{
    font-weight: 100;
    font-family: Arial;
    font-weight: normal;
    text-transform: capitalize;
}
h2{
    color: rgb(228, 217, 217);
    font-size: 2em;
    font-family: Arial;
    font-weight: normal;
    text-transform: capitalize;
}
h6{
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-weight: normal;
    padding: 16px;
    font-size: 1.5em;
    transition: 0.5s linear;
    text-transform: capitalize;
}
a{
    border-radius: 11px;
    border: none;
    font-family: Arial;
    font-weight: normal;
    text-transform: capitalize;
}
.name{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-transform: capitalize;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
}
a:hover{
    background-color: white;
    color: black;
    text-transform: capitalize;
}
i{
    font-size: 1.3em;
    color: maroon;
    text-transform: capitalize;
}
h3{
    color: #008cff;
    font-size: 1.7em;
    letter-spacing: 1px;
    font-family: Arial;
    font-weight: bold;
    text-transform: capitalize;
}
em{
    font-style: normal;
    font-family: Arial;
    font-weight: 100;
    text-transform: capitalize;
}
.reward{
    color: black;
    text-transform: capitalize;
}
i:hover{
    cursor: pointer;
    text-transform: capitalize;
}
span{
    padding-top: 10px;
    color: indigo;
    font-family: Arial;
    font-size: 1.2em;
    font-weight: 100;
    text-decoration: underline;
    text-transform: capitalize;
}
p{
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    font-weight: 900;
    text-transform: capitalize;
}
.center{
    text-align: center;
}
.heading{
    
    margin:20px auto;
    padding: 1em;
    overflow: hidden;
    width: 100%;
    font-family: Arial;
    font-weight: normal;
    text-transform: capitalize;
}
.inside{
    position: relative;
}
input{
    font-size: x-large;
}
.inside i{
    position: absolute;
    top: 10px;
    left: 85%;
}
i{
    font-size: x-large;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    
}
.card-body{
    font-family: Arial;
    font-weight: normal;
    text-transform: capitalize;
}
.vouchers{
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    
}
.vouchers h5,h5{
    font-weight:900;
    font-size: 1.2em;
    font-family: Arial;
    font-weight: normal;
    text-transform: capitalize;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
}
.row1{
    margin-left: 5px;
    height: 310px;
    width: 95%;
    background-color:transparent;
    text-transform: capitalize;
}
p{
    font-family: Arial;
    font-weight: normal;
    font-size: 1.1em;
    height: 50px;
    padding-top: 5px;
    text-transform: capitalize;
    border-radius: 20px;
}

em{
    text-decoration: underline;
    color: black;
    font-family: Arial;
    font-weight: normal;
    text-transform: capitalize;
}

.card{
    position: relative;
    left: -20px;
    height: 330px;
    transition: 0.8s linear;
    box-shadow: 1px -1px 10px 0 black;
    font-family: Arial;
    font-weight: normal;
}

.card:hover{
    cursor: pointer;
    border-radius: 10px;
    /* box-shadow: -7px 10px 20px 0px black; */
}
.hero{
    width: 85vw;
}
body{
    overflow-x: hidden;
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    font-family: Arial;
    font-weight: normal;
}
.row2{
    transform: translateY(-40px);
}