<div class="heading center container">
    
    
    <!-- start -->
        <h1 [ngStyle]="{'color':this.helpme.color}" class="text-center pl-5">Rewards Page</h1>
        <br>
        <div class="form-group row text-center offset-md-3">
            <label for="bank"  class="col-sm-2 col-form-label"><h3 [ngStyle]="{'color':this.helpme.color}">Bank </h3> </label>
          <div class="col-md-5">
            <input type="text" id="bank" disabled value="{{bank | titlecase}}" class="form-control" [ngStyle]="{'color':this.helpme.color}">
          </div>
        </div>
        <div class="form-group row offset-md-3">
            <label for="name" class="col-sm-2 col-form-label"><h3 [ngStyle]="{'color':this.helpme.color}">Name</h3> </label>
          <div class="col-md-5">
            <input type="text" id="name" disabled value="{{userName | titlecase}}" class="form-control" [ngStyle]="{'color':this.helpme.color}">
          </div>
        </div>
        <div class="form-group row offset-md-3">
            <label for="type" class="col-sm-2 col-form-label"><h3 [ngStyle]="{'color':this.helpme.color}">Type</h3> </label>
          <div class="col-md-5 inside">
            <input type="text" id="name" disabled value="{{this.helpme.type | titlecase }}" class="form-control" [ngStyle]="{'color':this.helpme.color}">
            <i [ngStyle]="{'color':this.helpme.color}" class="{{this.helpme.icon}} fa-3x text-center" data-toggle="tooltip" data-placement="top" title="{{this.helpme.type | titlecase }}"></i>
            </div> 
        </div>
        
        <div class="form-group row mt-2 offset-md-3">
            <label for="type" class="col-sm-2 col-form-label"><h3 [ngStyle]="{'color':this.helpme.color}">Balance</h3> </label>
          <div class="col-md-5">
            <input type="text" id="name" disabled value="&#8377; {{balance}}" class="form-control" [ngStyle]="{'color':this.helpme.color}">
          </div>
        </div>
    
    <!-- end -->
       
</div>
<br>
<div class="about mb-5">
    <hr class="hero" [ngStyle]="{'border-color':this.helpme.color}"><br>    
    <h1>Offers,Benefits,Promotions</h1>
        <hr class="hero" [ngStyle]="{'border-color':this.helpme.color}"><br>
    <div class="row ml-0 pl-1 text-center">
        
        <div class="card-group"> 
            <div class="card m-2" style="width: 20rem;">
                <div class="card-body">
                    <h6 class="mt-0" data-toggle="tooltip" data-placement="left" title="{{this.helpme.rewardConcept}}" [ngStyle]="{'color':this.helpme.color}">Reward points</h6><hr [ngStyle]="{'border-color':this.helpme.color}">
                    <h3 [ngStyle]="{'color':this.helpme.color}"> {{this.helpme.rewardPoints}} coin{{this.helpme.rewardPoints>1 ? 's' : ''}}</h3><br>
                    <p>{{this.helpme.newMessage | titlecase}}</p> <br>
                    <a href="https://www.google.com/search?q=reward+points+{{bank}}" target="_blank" class="btn btn-dark">Go To Cart</a>
                </div>
            </div>
            <div class="card m-2" style="width: 20rem;">
                <div class="card-body">
                    <h6 [ngStyle]="{'color':this.helpme.color}">Vouchers</h6><hr [ngStyle]="{'border-color':this.helpme.color}">
                    <div *ngFor="let discount of this.helpme.vouchers">
                        <h5>{{discount}}</h5>
                    </div>
                </div>
            </div>
            <div class="card m-2" style="width: 20rem;">
                <div class="card-body">
                    <h6 [ngStyle]="{'color':this.helpme.color}">Promotions</h6><hr [ngStyle]="{'border-color':this.helpme.color}">
                    <div *ngFor="let pr of this.helpme.promotions">
                        <h5>{{pr}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row2 text-center mt-0">
        <div class="col">
            <app-logout></app-logout>
        </div>
    </div>
    
</div><br><br>
