.container1{
    position: absolute; 
    top: 100px;  
}
button{
    margin: 15px;
}
button:hover{
    cursor: pointer;
}
.container button{
    border: none;
    background: #dddfd0;
    border-radius: 10px;
    padding: 11px;
    font-family: Arial;
    font-weight: normal;
}
