<div class="container text-center mt-5">
    <hr>
    <button (click)="back()" class="back mr-2">Back</button>
    <button [routerLink]="['/']"  class="text-center btn-sm ml-2" (click)="resetCookieStatus()">Log Out</button>
</div>

