/* You can add global styles to this file, and also import other style files */

small::before{
    content: '*';
    color: red;
    font-size: 1em;
}
small{
    color: rgb(124, 73, 73);
    font-weight: 500;
    font-size: 0.8em;
}
*{
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 0.55px;
}
button:disabled,
button[disabled]
{
    display: none;
}
input::placeholder{
    text-align: center;
}

select:disabled{
    text-align: center;text-transform: capitalize;
}

button{
   
    font-family: sans-serif;
    font-size: 1.1em;
    transition: 0.5s linear;
    margin:13px;
    text-transform: capitalize;
}
input,select,textarea{
    text-align: center;text-transform: capitalize;
    font-size: 1em;
    font-family: Arial;
    font-weight: normal;text-transform: capitalize;
}
.modal-content{
    background: rgb(236, 231, 220);text-transform: capitalize;
}
input:read-only{
    background-color:rgb(0, 240, 248);
    cursor: not-allowed;
    text-transform: capitalize;
}


option{
    text-align: center;
}

.add{
    background: #202020;
    color: rgb(250, 250, 250);
    outline: none;
    border: none;
    padding: 13px;
    border-radius: 14px;
    font-family: Arial;
    font-weight: normal;text-transform: capitalize;
}
.delete{
    background: rgb(180, 178, 178);
    color: black;
    outline: none;
    border: none;
    padding: 13px;
    border-radius: 14px;
    font-family: Arial;
    font-weight: normal;text-transform: capitalize;
}
label{
    color: rgb(5, 134, 255);
    font-size: 1em;
    text-transform: capitalize;
}
.label{
    color: rgba(98, 81, 243, 1);
}
.labelForButton{
    background-color: rgba(98, 81, 243,0.5);
    color: white;
}
.labelForButton:hover{
    background-color: rgba(98, 81, 243,1);
    color: white;
}
.update{
    background: #202020;
    color: rgb(240, 240, 240);
    outline: none;
    border: none;
    padding: 13px;
    border-radius: 14px;
    font-family: Arial;
    font-weight: normal;text-transform: capitalize;
}

.modal{
    position: fixed;
    top: -10px;
    transition: 0.3s ease-in-out;
    text-transform: capitalize;
}
select{
    text-align: center;
}
h2.modal-title{
    display: block;
    margin: 0 auto;
    font-family: Arial;
    font-weight: normal;
    font-size: 1.53em;text-transform: capitalize;
}