h3{
    font-size: 1.25em;
    font-family: Arial;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 2px;
}
div{
    background-color: black;
    color: white;
    padding: 5px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}